

h1.tencongty{
    color: $xanh-la-dam;
}

.slogan{
    background: $xanh-la-dam;
    padding-top:15px;
    padding-bottom:15px;
    margin: 0 auto;
}

.slogan-line{
    background-color: $primary;
    border:none;
    height:2px;
}

.slogan-text{
    color: $primary;
    font-size: 30pt;
    text-align: center;
}
